p 
    strong state: 
    | {{$state.current.name}}
.starbrand(href="https://www.starbrand.mx")
    p Desarrollado por
    md-icon(md-svg-icon="img/starbrand.svg")
md-button(ng-click="iniciosesion($event)" md-colors="{background: 'cyan'}") Admin
