.paginacion(layout="row" layout-align="{{ clAlign || clAlignModel }}")
	md-button.first(flex aria-label="First" ng-click="vm.gotoFirst()")
		md-icon first_page
	md-button.previous(flex aria-label="Previous" ng-click="vm.gotoPrev()" ng-show="vm.index - 1 >= 0")
		md-icon chevron_left
	md-button(flex aria-label="Go to page {{i+1}}" ng-repeat="i in vm.stepInfo" ng-click="vm.goto(vm.index + i)" ng-show="vm.page[vm.index + i]" ng-class="{'active': vm.page[vm.index + i] == clCurrentPage}") {{ vm.page[vm.index + i] }}
	md-button.next(flex aria-label="Next" ng-click="vm.gotoNext()" ng-show="vm.index + vm.clSteps < clPages")
		md-icon chevron_right
	md-button.last(flex aria-label="Last" ng-click="vm.gotoLast()")
		md-icon last_page
