md-card(form="persona" layout="row")
	md-card-content(layout="row" flex)
		md-input-container(flex)
			label Nombre
			input(ng-model="persona.nombre")
		md-input-container(flex)
			label Edad
			input(ng-model="persona.edad")
	md-button.md-raised(ng-click="nuevaPersona();") enviar

md-card
	md-toolbar
		.md-toolbar-tools
			h1 Blue		
	md-list
		md-list-item(ng-repeat="persona in personas" class="md-padding" ui-sref="persona({idPersona:persona.id})")
			h3 {{persona.Nombre}}
			p {{persona.Edad}}
			md-divider
