md-tabs.react(md-dynamic-height md-border-bottom)
    md-tab(label="cero")
        md-content
            layout
    md-tab(label="Dost")
        md-content
            dots
    md-tab(label="Toggle")
        md-content
            Toggle
    md-tab(label="Multibutton")
        md-content
            Multibutton
