md-grid-list(md-cols-xs="6" md-cols-sm="6" md-cols-md="6" md-cols-lg="8" md-cols-xl="8" md-row-height="1:1" md-gutter="20px")
    md-grid-tile(md-colspan="2" md-colspan-xs="2" md-rowspan-xs="2" md-colspan-sm="2" md-rowspan-sm="2" md-colspan-md="2" md-rowspan-md="2" md-colspan-lg="2" md-rowspan-lg="2" ng-repeat="persona in personas" class="md-padding" ui-sref="persona({idPersona:$index})")
        md-card(layout-fill)
            md-button
                p {{persona.Nombre}}
                p {{persona.Edad}}
