extends ../index

block moreHead
	script(type="text/javascript" src="js/main/main.states.js")
	script(type="text/javascript" src="js/main/main.controller.js")

block content

	div(ng-controller="mainCtrl as mainctrl")
		header
			include ../partials/nav
		div(layout="row" layout-align="center center")
			.centro(flex="70" flex-md="90" flex-sm="90" flex-xs="100")
				main(ui-view="main" class="page")
		md-divider
		footer(layout="row" layout-align="space-around center")
			include ../partials/footer
