extends ../index

block moreHead
	script(type="text/javascript" src="js/main/main.states.js")
	script(type="text/javascript" src="js/main/main.controller.js")
	link(type="text/css" rel="stylesheet", href="stylus/main.css")

block content
	.principal(ng-controller="mainCtrl as mainctrl")
		//- header
		//- 	include ../partials/nav
		.centro(layout="row" layout-align="center center")
			div(flex="100")
				main.page(ui-view="main")
		//- md-divider
		//- footer(layout="row" layout-align="space-around center")
		//- 	include ../partials/footer
