div(layout="row" layout-align="center center")
	div(flex="70")
		md-card
			md-card-content
				h1 Lista de Trabajos
				
		md-card
			md-list
				md-list-item.md-2-line
					.md-list-item-text
						h3 algo
						p Fecha
