.objeto(tweeninit)
.animacion(layout="row" layout-align="center center" botones)
    .texto-container
        .texto
            #texto1
                h1 La primera impresi칩n se da a los 4 segundos
        .texto
            #texto2
                h1 En una p치gina de internet es igual
        .texto
            #texto3
                h1 Nuestas p치ginas web hechas a medida de cada cliente
        .texto
            #texto4
                h1 y estan optimizadas para atraer clientes que buscan lo que ofreces
        .texto
            #texto5
                h1 Como tu que buscabas una p치gina de internet
